<button class="btn btn-light" routerLink="/">Back</button>
<h2 class="header">Add Movie</h2>
<div class="card card-body mb-3">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" [(ngModel)]="name" name="name">
    </div>
    <div class="form-group">
      <label>Genre</label>
      <input type="text" class="form-control" [(ngModel)]="genre" name="genre">
    </div>
    <div class="form-group">
      <label>Actors</label>
      <input type="text" class="form-control" [(ngModel)]="actors" name="actors">
    </div>
    <div class="form-group">
      <label>Year</label>
      <input type="number" class="form-control" [(ngModel)]="year" name="year">
    </div>
    <div class="form-group">
      <label>Image URL: </label>
      <input type="text" class="form-control" [(ngModel)]="image" name="image">
    </div>
    <input type="submit" value="Submit" class="btn-primary">
  </form>
</div>
